@use '_variables.scss' as*;

.borderbox {
  background-color:$colorp;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  border-radius: 10px;
  width: -webkit-fill-available;
  @include shadow;
}

.button-form {
  border-radius: 4px;
}