@use '_variables.scss' as*;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

html, body {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 100%;
  list-style-type: none;
  background-color:$colorf;
  
}
main {
 min-height: 68.5dvh;
}